<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <h1>Submit con Vue JS</h1>
    <div id="app-10">
        {{ mensaje }}
        <form @submit="enviar" action="paginaQueProcesa.php" method="post">
            <input v-model="nombre" placeholder="nombre" />
            <input v-model="pass" placeholder="password" />
            <button type="submit">Enviar</button>
        </form>
    </div>
    
    <script>
        var app10 = new Vue({
            el: '#app-10',
            data:{
                nombre: '',
                pass: '',
                mensaje: ''
            },
            methods: {
                enviar: function(event){
                    if(this.nombre === '' || this.pass === ''){
                        this.mensaje = 'Completar los campos'
                        event.preventDefault();
                    }else{
                        this.mensaje = 'OK'
                    }

                }
            },
        })
    </script>
</body>
</html>